VERSION=1.0
SERVICENAME=production-monitor
HTTPPORT=8080
DB_STRING=postgres://user:password@host/dbname?sslmode=require
CANDIDATE_ID=CAND-05
MQTT_BROKER=152.42.238.142
MQTT_PORT=1883
FRONTEND_URL=http://localhost:5173
